{% extends 'base.html' %}
{% block title %}Error 500 page{% endblock %}

{% block container %}

<div class="container">
    <header class="text-center bg-light">
        <h1>ERROR 500</h1>
    </header>
    <section class="text-center">
        <p class="h5">Opss... an unexcepted error has occurred, you might have passed incorrect data. Try to reload page, if it won't work please contact with the admin of the website</p>
        <p class="h6">Contact number - +48 500 484 315</p>
        <p class="h6">Contact email - kamilkamil554@wp.pl</p>
    </section>
</div>

{% endblock %}