<nav class="d-flex flex-column bd-highlight position-fixed shadow-sm border media-nav" style="top: 25%;">
    <a href="https://www.google-play.com" target="_blank" class="p-2 bg-light">
        <i class="fab fa-google-play fa-lg"></i>
    </a>
    <a href="https://www.apple.com" target="_blank" class="p-2  bg-light">
        <i class="fab fa-apple fa-lg"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank" class="p-2 bg-light">
        <i class="fab fa-youtube fa-lg"></i>
    </a>
    <a href="https://www.facebook.com" target="_blank" class="p-2 bg-light">
        <i class="fab fa-facebook-square fa-lg"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="p-2 bg-light">
        <i class="fab fa-instagram-square fa-lg"></i>
    </a>
</nav>